[submodule "frontend"]
	path = frontend
	url = https://github.com/MohitNamdev22/ShelfSmart-Frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/MohitNamdev22/ShelfSmart-Backend.git
